/com.ieeton.agency/bin
/swipelistview/bin
/com.ieeton.user_1.2/bin
/com.ieeton.agency/gen
/com.ieeton.user_1.2/gen
/com.ieeton.user_1.2/proguard
/swipelistview/gen
/ieeton_umeng_social_sdk_library_project/bin
